/* Reset styles */
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

img {
    width: 100%;
    display: block;
    height: auto; /* Ensure images maintain aspect ratio */
}

/* Basic styling */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    color: #222;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

header {
    margin: 0.2em;
    padding: 0.2em;
}

h1 {
    font-family: 'Oswald', sans-serif;
    width: 12em;
    margin: 1em 0em;
    color: #002244; /* Navy Blue */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.4em 0.2em 0.3em;
    color: #002244; /* Navy Blue */
    line-height: 1em;
}

/* Navigation styles */
nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a {
    color: #37FF4B; /* Bright Green */
    font-weight: bold;
}

/* Subscribe button styles */
.subscribe-button {
    padding: 0.5em 1em;
    background-color: #002244; /* Navy Blue */
    color: #FFFFFF;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.subscribe-button:hover {
    background-color: #003366; /* Darker Navy Blue */
}

/* Photo Gallery Styles */
main.photo-gallery {
    padding: 2em;
    background-color: #f8f8f8; /* Light Grey Background for the Gallery */
}

h2.photo-gallery {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3em;
    margin-bottom: 1em;
    color: #002244; /* Navy Blue */
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}

.gallery-container figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.gallery-container img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    transition: transform 0.3s ease-in-out;
}

.gallery-container img:hover {
    transform: scale(1.05);
}

figcaption {
    font-size: 1em;
    color: #616161;
    text-align: center;
    margin-top: 0.5em;
    font-style: italic;
}

/* Footer */
footer {
    padding: 0.5em 0em 0.5em;
    background-color: #002244; /* Navy Blue */
}

footer p {
    color: #FFFFFF;
    margin: 0.5em 0.5em;
}

/* Responsive Design */
@media screen and (min-width: 40em) {
    header {
        margin: 0em;
        padding: 0em;
    }

    h2 {
        margin: 0.4em 0em 0.3em;
    }

    p {
        margin: 0em 0em 2em 0em;
    }

    section.secondary h2 {
        margin: 0.4em 0em 0.3em;
    }

    section.tertiary {
        margin: 2em 0em 0em;
    }

    figcaption {
        margin: 0.4em 0em 1.2em;
    }
}

@media screen and (min-width: 60em) {
    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }
}
